spring.config.import=classpath:env.properties

server.port=8080
custom.server.ip=127.0.0.1
redirect.server.ip=127.0.0.1
artists.redirect.url=http://localhost:8080/artists

spring.mvc.static-path-pattern=/**
spring.thymeleaf.prefix=classpath:/templates/
spring.thymeleaf.suffix=.html
spring.thymeleaf.enabled=true

spotify.redirectUri=http://localhost:8080/callback
spotify.clientId=your_spotify_client_id
spotify.clientSecret=your_spotify_client_secret

lastfm.redirectUri=http://localhost:8080/callback
lastfm.apiKey=your_lastfm_api_key
lastfm.sharedSecret=your_lastfm_shared_secret

google.gemini.apiKey=your_google_gemini_api_key