SERVER_PORT=8080
CUSTOM_SERVER_IP=127.0.0.1
REDIRECT_SERVER_IP=127.0.0.1
ARTISTS_REDIRECT_URL=http://localhost:8080/artists

SPOTIFY_REDIRECT_URI=http://localhost:8080/callback
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

LASTFM_REDIRECT_URI=http://localhost:8080/callback
LASTFM_API_KEY=your_lastfm_api_key
LASTFM_SHARED_SECRET=your_lastfm_shared_secret